<div class="devise-container">
  <h2 class='header'>Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { :class => "form-horizontal center" }) do |f| %>
    <div class="form-group">
      <%= f.label :email, class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.email_field :email, autofocus: true, class: "form-control"  %>
      </div>
    </div>

    <div class="form-group">
      <%= f.label :password, class: "col-md-4 control-label" %>
      <div class="col-md-8">
        <%= f.password_field :password, autocomplete: "off", class: "form-control"  %>
      </div>
    </div>

    <div class="actions">
      <%= f.submit "Log in", class: "btn btn-default btn-primary" %><br>
      <div style="margin:auto; display:table; margin-bottom:10px;">
        - or -
      </div>
      <%= link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2), class: "btn btn-default btn-primary" %>
    </div>
  <% end %>
</div>
